<html>

	<head>
		{% load static %}
		<title>Lets test some sockets</title>
		<script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
	</head>
	<body>
		<div>
			{% for exchange in exchanges %}
			<canvas 
				id = "{{exchange}}"
				class = "pnd-canvas"
			></canvas>
			{% endfor %}
		</div>

	</body>

	<script src = "{% static 'pnds/js/charts.js' %}"></script>
	<script>

		var canvases = document.getElementsByClassName('pnd-canvas')

		var charts = {}
		for (let canvas of canvases){
			charts[canvas.id] = createChart(canvas.id)
		}

		const sock = new WebSocket('ws://127.0.0.1:8000/ws/pnd/BTC-USDT/')
		sock.onmessage = (message) => updateChart(message)
		sock.onopen = () => fetchInitialData(sock)

	</script>
		
</html>
