<html>

	<head>
		
		{% load static %}
		{% load dashboard_elements %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link 
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
			rel="stylesheet" 
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
			crossorigin="anonymous"
		>
		<link 
			href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" 
			rel="stylesheet" 
			crossorigin="anonymous"
		>

		<title>PND Console</title>
	</head>
	<body>
	
		<h2 class = 'title'> 
			A Study of Cryptocurrency Market Manipulation
			<br />
			<small class="text-muted">Using Real-Time Data Analysis</small>
		</h2>
		<br />

		<div class="container-fluid">
		  <div class="row">
			  
			{% scorecard 'Pumps Studied' stats.pumps_count %}  
			{% scorecard 'Exchanges Monitored' stats.exchanges_count %}

			{% scorecard 'Coins in Database' stats.coins_count %}
			{% scorecard 'Accuracy' stats.accuracy %}
			{% scorecard 'Average Load Delay' stats.avg_load_delay %}
		  </div>

		  <div class="row">
			  <div class = "col-sm border rounded" style="position: relative; height:65vh; width:80vw">
				  <canvas id = "by-channel-pie"></canvas>
			  </div>

			  <div class = "col-sm border rounded">

					  <canvas id = "by-weeks-bar"></canvas>

			  </div>
		  </div>
		  <div class = "row">
			  <table id = "overview-table" class = "responsive">
				  <thead>
					  <th>Organized by</th>
					  <th>Exchange(s)</th>
					  <th>Target</th>
					  <th>Pair</th>
					  <th>Scheduled At</th>
					  <th>Status</th>
					  <th>Link</th>
				  </thead>
				  <tbody>
					  {% for pump in pumps %}
						  <tr>
							  <td>{{ pump.message.forum.name }}</td>
							  <td>
								  {% for exchange in pump.exchanges.all %} 
									  {{exchange.name|upper}} {% if not forloop.last %}, {% endif %}  
								  {% endfor %} 
							  </td>
							  <td>{{ pump.target.symbol|default:"-" }}</td>
							  <td>{{ pump.pair.symbol|default:"-"  }}</td>
							  <td data-sort = '{{ pump.scheduled_at|date:"U" }}'>{{ pump.scheduled_at }}</td>
							  <td>
								  {% if pump.is_active %} 
									  <b>ACTIVE</b> 
								  {% elif pump.is_upcoming %} 
									  <b>UPCOMING</b> 
								  {% else %}
									  <b>COMPLETED</b>
								  {% endif %}
							  </td>
							  <td>
								  <a 
									  href = "{% url 'pnds:pump' pump_id=pump.id %}"
									  target = "blank"
									  rel = "noopener noreferrer"
									  > 
									  LINK
								  </a>
							  </td>

							</tr>
							{% endfor %}
					</tbody>
				</table>
		  	</div>
		</div>
	</body>

		
	<script 
		src="https://code.jquery.com/jquery-3.7.1.min.js" 
		crossorigin="anonymous"
	></script>
	<script 
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
		crossorigin="anonymous"
	></script>
	<script 
		src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js" 
		crossorigin="anonymous"
	></script>
	
	<script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

	{{stats.pumps_by_channel|json_script:"by-channel"}}	
	{{stats.pumps_by_week|json_script:"by-weeks"}}	

	<script src = "{% static 'pnds/js/overview-charts.js' %}"></script>
		
</html>
